
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">

    <title>자유게시판</title>
    <meta property="og:title" content="자유게시판" />
    <meta property="og:description" content="하고싶은 말 하세요" />
    <!--    <meta property="og:image" content="{{ url_for('static', filename='/img/mW_img.png') }}" />-->

    <script th:inline="javascript">
        $(document).ready(function () {
            // id 가 query 인 녀석 위에서 엔터를 누르면 execSearch() 함수를 실행하라는 뜻입니다.
            $('#close_write').on('click', function () {
                $('#container_write').removeClass('active');
            })

            getMessages();
            // showProduct();
        })

        const href = location.href;
        const queryString = href.substring(href.indexOf("?")+1)

        if (queryString === 'loginUserDoNotEnterErr') {
            alert("이미 로그인이 되어있습니다.");
            window.location.href = '/';
        }

        function getMessages() {
            // 1. 기존 내용을 지웁니다.
            // $('#cards-box').empty();
            // 2. 메모 목록을 불러와서 HTML로 붙입니다.
            $.ajax({
                type: 'GET',
                url: '/api/freetables',
                success: function (response) {
                    console.log(response);
                    //타임리프를 이용해서 게시판을 꾸며야됨 !!.
                    for (let i = 0; i < response.length; i++) {
                        let tableMsg = response[i];
                        let id = tableMsg['id'];
                        let title = tableMsg['title'];
                        let writer = tableMsg['username'];
                        let createdAt = convertUTCTimeToSeoulTime(tableMsg['createdAt']);
                        addTableHTML(id, title ,writer, createdAt);
                    }
                }
            })
        }

        function convertUTCTimeToSeoulTime(UTCDate){
            let SeoulTime = new Date(UTCDate)
            SeoulTime.setHours(SeoulTime.getHours()+9)
            // console.log(SeoulTime.toLocaleString())
            return SeoulTime.toLocaleString()
        }

        function addTableHTML(id,title ,username, createdAt) {
            // 1. HTML 태그를 만듭니다.
            let tempHtml = `
                            <tr>
                                <th scope="row">${id}</th>
                                <td colspan="3" onclick="enter_board_view(${id})">
                                    <b style="cursor: pointer;">
                                        ${title}
                                    </b>
                                </td>
                                <td>${username}</td>
                                <td>${createdAt}</td>
                            </tr>
                    `;
            // 2. #cards-box 에 HTML을 붙인다.
            $('#tableBody').append(tempHtml);
        }

        function enter_board_view(id) {
            $('#container_view_warp').empty();
            $.ajax({
                type: 'GET',
                url: `/api/freetables/${id}`,
                success: function (response) {
                    let tableMsg = response;
                    let title = tableMsg['title'];
                    let writer = tableMsg['username'];
                    let content = tableMsg['content'];
                    let createdAt = convertUTCTimeToSeoulTime(tableMsg['createdAt']);
                    addTableViewHTML(title, writer, content,createdAt);

                    $('#container_view').addClass('active');

                    $('#close_view').on('click', function () {
                        $('#container_view').removeClass('active');
                    })
                }
            })
        }

        function addTableViewHTML(title, writer, content ,createdAt) {
            // 1. HTML 태그를 만듭니다.
            let tempHtml = `
                            <div id="container_view" class="popup-container_view">
                                <div class="popup_view">
                                    <button id="close_view" class="close_view">
                                            X
                                    </button>
                                    <h1>
                                        <b>
                                            📜게시글 조회 페이지
                                        </b>
                                    </h1>
                                    <div>
                                        <b style="font-size: 13pt">작성일</b>
                                        <p>${createdAt}</p>
                                    </div>
                                    <div>
                                        <b style="font-size: 17pt">글 제목</b>
                                        <p>${title}</p>
                                    </div>
                                    <div>
                                        <b style="font-size: 17pt">작성자</b>
                                        <p>${writer}</p>
                                    </div>
                                    <div>
                                        <b style="font-size: 17pt">내용</b>
                                        <p>${content}</p>
                                    </div>
                                </div>
                            </div>
                    `;
            // 2. #container_view_warp 에 HTML을 붙인다.
            $('#container_view_warp').append(tempHtml);
        }

    </script>

    <script th:if="${userLoginCheck}" th:inline="javascript">

    function enter_board_write(){
            if([[${userLoginCheck}]])
                $('#container_write').addClass('active');
            else
                alert("로그인이 필요합니다.");
        }

        function postWriting() {
            let ftTitle = $('#mytitle').val();
            let ftUsername = [[${username}]];
            let ftContents = $('#mycontent').val();

            if (isValidContents(ftTitle) == false) {
                return;
            }
            if (isValidContents(ftContents) == false) {
                return;
            }

            let data = {'title': ftTitle, 'username': ftUsername ,'content': ftContents};

            $.ajax({ // $.ajax = jQeury 를 이용하겠다.
                type: "POST",
                url: "/api/freetables",
                contentType: "application/json", // JSON 형식으로 전달함을 알리기
                data: JSON.stringify(data), //웹에서 주고 받을 때 스트링으로만 주고 받기 때문에 문자열로 바꿔서 전달함
                success: function (response) {
                    if(response == null){
                        alert("로그인을 해주세요");
                        window.location.reload();
                    }
                    alert('메시지가 성공적으로 작성되었습니다.');
                    window.location.reload();
                }
            });
        }

        function isValidContents(contents) {
            if (contents == '') {
                alert('내용을 모두 입력해주세요');
                return false;
            }
            if (contents.trim().length > 30) {
                alert('공백 포함 30자 이하로 입력해주세요');
                return false;
            }
            return true;
        }

    </script>

</head>

<body style="background-color:black">
<div class="indexOf">


    <div class="title_h1">
        <h1> <b>자유게시판</b> </h1>
    </div>

    <div th:if="${userLoginCheck}" style="color: white; font-size: 20pt; text-align:right;">
        <span th:text="${username}"></span> 님 안녕하세요.
    </div>

    <div class="button_wrapper">

        <div th:if="${userLoginCheck}" class="login_button">
            <button type="button"  onclick="location.href='/user/logout'" class="btn btn-secondary">로그아웃</button>
        </div>
        <div th:unless="${userLoginCheck}" class="write_button">
            <button type="button"  onclick="location.href='/user/signup'" class="btn btn-secondary">회원가입</button>
            <button type="button"  onclick="location.href='/user/login'" class="btn btn-secondary" style="margin-left: 15px;">로그인</button>
        </div>

        <div th:if="${userLoginCheck}" class="write_button">
            <button type="button"  onclick="enter_board_write()" class="btn btn-secondary">글 쓰기</button>
        </div>
    </div>


    <table class="table table-dark table-hover">
        <thead class="tablehead">
        <tr style="color: indianred">
            <th scope="col">번호</th>
            <th scope="col" colspan="3">글 제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody id="tableBody">

        </tbody>
    </table>

    <div th:if="${userLoginCheck != null}" id="container_write" class="popup-container_write">
        <div class="popup_write">
            <button id="close_write" class="close_write">
                X
            </button>
            <h1>
                <b>
                    ✏글 쓰기 페이지
                </b>
            </h1>
            <p>하고 싶은 말을 짧게 써주세요.</p>
            <div>
                <p>
                    <b>글 제목</b>
                </p>
                <input type="text" id="mytitle" placeholder="">
            </div>
            <div>
                <p>
                    <b>내용</b>
                </p>
                <input type="text" id="mycontent" placeholder="">
            </div>
            <p>
            </p>
            <button class="cta_write" onclick="postWriting()">글 등록하기</button>
        </div>
    </div>

    <div id="container_view_warp">


    </div>
</div>

</body>
</html>


